html {
    background-color: black;
}

body {
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.panel_left {
    display: flex;
    position: absolute;
    justify-content: start;
    align-items: start;
    background-color: #0e0e10;
    margin-top: 2.7%;
    width: 12%;
    height: 100vh;
}

.search_bar {
    display: flex;
    position: absolute;
    justify-content: start;
    align-items: center;
    background-color: #0e0e10;
    width: 100%;
    height: 4.5vh;
    margin-left: 0;
}

.explore_logo {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 30px;
    height: 30px;
}

.panel_main {
    position: relative;
    margin-top: 2.7%;
    margin-left: 12%;
    width: 90%;
    height: 100%;
}

.search_bar p {
    color: white;
    margin-left: 4%;
    margin-top: 1%;
    font-family: "Inter","Roobert","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.search_bar_input {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-family: "Inter","Roobert","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: white;
    background-color: #0e0e10;
    border: 0.1px solid rgba(255, 255, 255, 0.158);
    border-radius: 4px 0px 0px 4px;
    margin-left: 33%;
    width: 18%;
    height: 35px;
    padding-top: 2px;
    padding-left: 12px;
    opacity: 50%;
}

#search_bar_icon {
    opacity: 80%;
    color: white;
    font-size: 150%;
    text-align: center;
    background-color: #333333;
    padding: 8px;
    border-radius: 0px 4px 4px 0px;
}

.panel_main_first {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 30%;
}

.spreader_bar1 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 2%;
}
