* {
    margin: 0;
    padding: 0;
    font-family: "Inter","Roobert","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vw;
    background-color: #18181b;
}

/* HEADER ANA DİVLER BAŞLANGIÇ */

.header_left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20vw;
    margin-left: 2vw;
    height: 100%;
}

.header_center {
    display: flex;
    align-items: center;
    width: 27vw;
    height: 100%;
}

.header_right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20vw;
    height: 100%;
    margin-right: 2vw;
    background-color: #18181b;
}

/* HEADER ANA DİVLER BİTİŞ */

/* HEADER ALT DİVLER BAŞLANGIÇ */

button:hover {
    cursor: pointer !important;
}


.header_left svg {
    width: 3vw;
    height: 3vw;
}

.icon-container {
    display: flex;
    position: relative;
    color: #ab76fb;
}

.icon-container:active {
   color: #ab76fb;
}

.bi-twitch path:nth-of-type(3) {
    transform-origin: center center;
    transition: transform 0.1s ease-in-out;
}

.animate {
    animation: pulse 0.2s ease-in-out 2;
}

@keyframes pulse {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.5) translateY(-0.2em);
    }
    100% {
        transform: scaleY(1);
    }
}

.header_left #gozat {
    color: white;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 3vw;
    font-weight: 700;
}

header #gozat:hover {
    color: #ab76fb;
}

header #gozat:active {
    color: #ab76fb;
}

.header_left .material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    margin-left: 3vw;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

header #three_dots_list {
    font-size: 3vw;
}

header #three_dots_list:hover {
    background-color: #424249;
    cursor: pointer;
}

header #three_dots_list:active {
    background-color: #2f2f35;
}

.header_center input {
    width: 50vw;
    height: 60%;
    background-color: #18181b;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.423);
    border-radius: 1vw 0vw 0vw 1vw;
    font-size: 2vw;
    font-weight: 500;
    padding-left: 1.5vw;
}

header input:hover {
    border: 2px solid rgba(229, 215, 215, 0.549);
}

header input:focus {
    border-color: #ab76fb;
    outline: none;
    border: 3.5px solid #ab76fb;
}

.header_center #search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    height: 3.2vw;
    padding-left: 0.3vw;
}

header button {
    background-color: #2f2f35;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-size: 1.2vw;
}

header button:hover {
    background-color: #424249;
}

header button:active {
    background-color: #2f2f35;
}

.header_right button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    padding: 1vw;
    font-weight: 700;
    border-radius: 1vw;
     white-space: nowrap;
}

.header_right .but1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 3vw;
    background-color: #9147ff;
    font-weight: 700;
    border-radius: 1vw;
}

header .but1:hover {
    background-color: #a96fff;
}

header .but1:active {
    background-color: #9147ff;
}

.header_right .material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    background-color: transparent;
    color: white;
    margin-left: 1vw;
    width: 3vw;
    height: 3vw;
    font-size: 3vw;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.header_right .material-symbols-outlined:hover {
    background-color: #424249;
}

.header_right .material-symbols-outlined:active {
    background-color: #2f2f35;
}


#crown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 1vw;
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    border-radius: 1vw;
}

.but_crown {
    width: 3vw !important;
    height: 3vw !important;
    background-color: transparent;
}
