* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e0e10;
}

button {
    cursor: pointer;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    max-height: 4.5vw;
    background-color: #18181b;
    box-shadow: 0em 0em 0.1em 0.1em #000000;
    font-family: "Roboto", sans-serif;
    z-index: 100;
}

.headerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 100%;
    width: 13em;

}

.headerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 100%;
    width: 17em;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 300vh; /* TODO: Burayı sonra düzelt. */
    padding-top: 3em; /*Media query ile düzenlenecek. Küçültünce header'ın altında boşluk oluşuyor.*/
}

.containerLeft {
    display: block;
    width: 18em;
    height: 100%;
    background-color: #1f1f23;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    z-index: 90;
}

.headerLeftLogoContainer {
    display: flex;
    align-items: center;
    height: 80%;
    width: 20%;
    overflow: hidden;
}

.icon-container {
    color: #ab76fb;
    width: 2em;
    height: 2em;
    max-width: 70%;
    max-height: 100%;
}

.icon-container:active {
   color: #ab76fb;
}

.bi-twitch path:nth-of-type(3) {
    transform-origin: center center;
    transition: transform 0.1s ease-in-out;
}

.animate {
    animation: pulse 0.2s ease-in-out 2;
}

@keyframes pulse {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.5) translateY(-0.2em);
    }
    100% {
        transform: scaleY(1);
    }
}

.headerCenter input {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 25em;
    height: 2.4em;
    border: 0.1em solid #2e2e33;
    border-radius: 0.5em 0em 0em 0.5em;
    background-color: #18181b;
    color: white;
    padding-left: 1em;
    font-size: 1em;
}

.headerCenter input:hover {
    border: 2px solid rgba(229, 215, 215, 0.549);
}

.headerCenter input:focus {
    border-color: #ab76fb;
    outline: none;
    border: 3.5px solid #ab76fb;
}

.headerCenter .bx-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.9em;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.headerCenter button {
    background-color: #26262c;
    border: none;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    padding: 0.4rem;
}

.headerCenter button:hover {
    background-color: #2e2e33;
}

.headerCenter button:active {
    background-color: #1f1f23;
}

.headerLeftTextContainer {
    display: flex;
    align-items: center;
    height: 80%;
    width: 40%;
    font-size: 1.5em;
    color: white;
}

.headerLeftTextContainer a {
    text-decoration: none;
    color: white;
}

.headerLeftTextContainer a:hover {
    color: #ab76fb;
}

.headerLeftButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 8%;
    color: white;
}

.headerLeftButtonContainer button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    border-radius: 0.2em;
    padding-top: 0.1em;
}

.headerLeftButtonContainer button:hover {
    background-color: #2e2e33;
}

.headerLeftButtonContainer button:active {
    background-color: #1f1f23;
}

.headerRightCrownContainer {
    display: flex;
    align-items: center;
    height: 80%;
    width: 10%;
}

.headerRightCrownContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    font-size: 1.2em;
}

.headerRightCrownContainer button:hover {
    background-color: #424249;
}

.headerRightCrownContainer button:active {
    background-color: #1f1f23;
}

.bx-crown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    color: white;
}

.headerRightSignInButtonContainer {
    display: flex;
    align-items: center;
    height: 80%;
    width: 30%;
}

.headerRightSignUpButtonContainer {
    display: flex;
    align-items: center;
    height: 80%;
    width: 30%;
}

.headerRightSignInButtonContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424249;
    border: none;
    color: white;
    width: 7em;
    height: 2.3em;
    border-radius: 0.2em;
    font-weight: bold;
    white-space: nowrap;
}

.headerRightSignInButtonContainer button:hover {
    background-color: #2f2f35;
}

.headerRightSignInButtonContainer button:active {
    background-color: #1f1f23;
}

.headerRightSignUpButtonContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9147ff;
    border: none;
    color: white;
    width: 5em;
    height: 2.3em;
    border-radius: 0.2em;
    font-weight: bold;
    white-space: nowrap;
}

.headerRightSignUpButtonContainer button:hover {
    background-color: #7a3ec5;
}

.headerRightSignUpButtonContainer button:active {
    background-color: #6a2f9f;
}

.headerRightPersonContainer {
    display: flex;
    align-items: center;
    height: 80%;
    width: 15%;
    margin-left: -1em;
}

.headerRightPersonContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    background-color: transparent;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    color: white;
}

.headerRightPersonContainer button:hover {
    background-color: #424249;
}

.headerRightPersonContainer button:active {
    background-color: #1f1f23;
}

.material-symbols-outlined { /* Bu sınıf person'un özelliklerini ayarlar. */
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 29
}

.titleLeftPanel {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 3em;
    width: 17em;
    margin: auto;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-size: 0.8em;
    margin-left: 1em;
    font-family: "Roboto", sans-serif;
}

.arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    padding-left: 0.2em;
    font-size: 0.6em;
    background-color: transparent;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    fill: white;
    margin-left: 6em;
    scale: 1.2;
}

.arrow-button:hover {
    background-color: #424249;
}

.arrow-button:active {
    background-color: #2f2f35;
}

.containerLeftFixed {
    position: fixed;
}

.channelList {
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
}

.channelList a {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 3em;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0.5em;
    margin-left: -0.5em;
    border-radius: 1em;
}

.channelList a:hover {
    background-color: #424249;
}

.channelList a:active {
    background-color: #2f2f35;
}

.channelBar {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 2em;
    margin-bottom: 0.3em;
    color: white;
}

.channelLogoContainer, .channelLogoContainer img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
}

.channelLogoContainer img {
    border-radius: 50%;
}

.channelNameBar {
    display: block;
    align-items: center;
    justify-content: start;
    height: 2em;
    width: 8.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    
    
}

.channelName {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 1em;
    width: 8.5em;
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0.1em;
}

.channelStreamName {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 1.2em;
    width: 9em;
    opacity: 0.5;
    font-size: 0.8em;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.channelLiveContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 1.9em;
    width: 3em;
    overflow: hidden;
    white-space: nowrap;
}

.channelLiveViewerContainer {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
}

.channelLiveRedDotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
}

.channelLiveViewerContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 1em;
    width: 2.4em;
    margin-left: 0.1em;
}

.channelLiveRedDot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.5em;
    width: 0.5em;
    background-color: #ff0000;
    border-radius: 50%;
}

.containerMain {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containerMain a {
    color: #bf94ff;
    text-decoration: none;
}

.containerMain a:hover {
    text-decoration: underline;
}

.containerMainFirst {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19em;
    margin-top: 1em;
}

.containerMainTitleFirst {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 2.5em;
    width: 90%;
    margin-top: 4em;
    margin-bottom: -0.5em;
    margin-left: 0;
    overflow: hidden;
    flex-wrap: wrap;
    color: white;
    font-size: 1em;
    margin-left: 1em;
    font-family:"Roobert","Inter","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.containerMainSecond {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9em;
    background-color: #38030354;
    gap: 10px;
}

.stream {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19em;
    height: 10em;
    background-color: #ff000054;
    margin-top: 2em;
    overflow: hidden;
}

.streamTitle {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 19em;
    height: 5em;
    margin-top: 17em;
    color: white;
}

.streamTitleMain {
    width: 15.5em;
    height: 1.5em;
    margin-left: 1em;
}

.streamTitleChannel {
    width: 15.5em;
    height: 1em;
    margin-left: 1em;
}

.streamTitleCategory {
    width: 15.5em;
    height: 1.2em;
    margin-left: 1em;
}

.streamTitleLabel {
    width: 15.5em;
    height: 1.2em;
    margin-left: 1em;
}

.streamTitleLogoContainer {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #383838;
}

.streamTitleLogoContainer img {
    width: 100%;
    height: 100%;
}

.signUpBar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 4em;
    width: 100vw;
    margin-top: 1em;
    margin-left: 0;
    bottom: 0;
    background-color: #1b8580;
    z-index: 100;
}

.signUpBarLeftContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 50%;
    background-color: #451093;
}

.signUpBarRightContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 50%;
    background-color: #451093;
}

.signUpBarLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    margin-left: 1em;
}

.signUpBarLogoContainer img {
    width: 2.5em;
    height: 2.5em;
}

.signUpBarTextContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 2em;
    width: 85%;
    margin-left: 0.5em;
    margin-top: -0.2em;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
}

.signUpBarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 5em;
    margin-right: 4em;
}

.signUpBarButton button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 5em;
    background-color: white;
    border: none;
    color: #451093;
    font-family: Arial;
    border-radius: 0.2em;
    font-weight: bold;
}

.signUpBarButton button:hover {
    background-color: #e6e6e6;
}

.signUpBarButton button:active {
    background-color: #cccccc;
}

.carouselSlider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    color: white;
    overflow: hidden;
    z-index: 29;
    margin-left: -1em;
}

.carouselSlider img {
    width: 100%;
    height: 100%;
}
.carouselFirstContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45em;
    height: 19em;
    background-color: rgb(157, 157, 9);
    overflow: hidden;
    z-index: 28;
}

.carouselSecondContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45em;
    height: 19em;
    overflow: hidden;
    background-color: rgb(138, 32, 32);
    z-index: 28;
    margin-right: 25%;
    scale: 0.8;
    z-index: 27;
}

.carouselThirdContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45em;
    height: 19em;
    background-color: rgb(73, 9, 157);
    overflow: hidden;
    z-index: 28;
    margin-left: 25%;
    scale: 0.8;
    z-index: 27;
}

.carouselLeftButtonContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-right: 95%;
    cursor: pointer;
    z-index: 30;
}

.carouselRightButtonContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-left: 95%;
    cursor: pointer;
    z-index: 30;
}

.containerMainFirst svg {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    border-radius: 0.2em;
    scale: 1.2;
}

.containerMainFirst svg:hover {
    background-color: #1f1f23;
}

.containerMainFirst svg:active {
    background-color: #0e0e10;
}

.containerMainLine {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 1em;
    margin-left: 4em;
    margin-top: 9em;
    background-color: gray;
}

.containerMainThird {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9em;
    margin-top: 1em;
    gap: 10px;
    background-color: #38030354;
}


@media screen and (max-width: 1472px) {
    .stream3 {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .containerLeft {
        width: 4em;
    }

    .channelStreamName {
        display: none;
    }

    .channelName {
        display: none;
    }

    .channelLiveContainer {
        display: none;
    }

    .titleLeftPanel {
        display: none;
    }
}